:root {
    --shuttleGray: #636a7a;
    --edward: #a9b9ac;
    --canary: #dffe6d;
    --sandyBrown: #f5936f;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--edward);
}