@import "~bootstrap/scss/bootstrap";

:root {
    --shuttleGray: #636a7a;
    --darkGray: #636a7a;
    --edward: #a9b9ac;
    --edward-transparent: #a9b9ac82;
    --canary: #dffe6d;
    --sandyBrown: #f5936f;
}

* {
  font-family: 'Titillium Web', sans-serif;
}

body {
  background: url(./assets/images/bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f5936f47;
  height: 100vh;
}

#brand {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: var(--canary);
  font-size: calc(5rem + 2vw);
  font-weight: bold;
  text-shadow: 2px 5px var(--shuttleGray);
}

h2 {
  font-size: calc(2.5em + 1vw);
  font-weight: bold;
  color: var(--darkGray)!important;
}

a {
  text-decoration: none;
  color: #636a7a;
}

.headerNav {
  position: sticky;
}

.nav-link {
  color: #636a7a;
  font-size: 3em;
  text-decoration: none;
  margin-left: 0.3em;
}

.nav-link:hover {
  color: var(--sandyBrown);
}

.btn {
  background-color: var(--canary);
  color: var(--shuttleGray);
  border: none;
  padding: 15px;
  font-size: 1.5rem;
}

p {
  font-size: 2em;
}

.firstLine {
  font-size: 2.5em!important;
}

.badge {
  background-color: #f5936f!important;
  box-shadow: 1px 1px var(--edward);
  font-size: 2em;
}

.btn:hover {
  background-color: var(--sandyBrown);
}

.contactPage {
  background-color: var(--edward-transparent);
  padding: 3rem;
  border-radius: 30px;
}

.form-control {
  background-color: rgba(255, 255, 255, 0.788);
  border: 2px solid var(--canary);
}

.ul {
  border: none;
}

.list-group-item {
  background-color: transparent;
  border: none;
}

.list-group-item h2:hover {
  color: var(--sandyBrown)!important;
  text-shadow: 2px 2px var(--edward);

}

.list-group-item h3:hover {
  color: #636a7a;
  text-shadow: 2px 2px var(--edward);
}

#images {
  clip-path: circle();
  position: sticky;
  top: 30%;
}

.wrap {
  height: 100%;
  padding: 10%;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.gitBtn, .linkBtn {
  background-color: transparent;
  color: var(--shuttleGray);
  font-size: 2.5em;
}

.linkBtn:hover,
  .gitBtn:hover {
  color: var(--canary);
  text-shadow: 2px 2px var(--edward);

}

p {
  color: #636a7a;
}

@media only screen and (min-width: 360px) and (max-width: 768px){

  #images {
    display: none;
  }

  .portrait {
    width: 50%;
  }

  .badges {
    display: none;
  }

  #url::before {
    content: "🔗";
  }

  .brand {
    padding: 1%;

  }

  #tech {
    text-decoration: underline;
  }

}


  
