@import "~bootstrap/scss/bootstrap";

:root {
    --shuttleGray: #636a7a;
    --edward: #a9b9ac;
    --edward-transparent: #a9b9ac82;
    --canary: #dffe6d;
    --sandyBrown: #f5936f;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--sandyBrown);
    font-size: 2em;
}

h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #636a7a;
    font-size: 5em;
}

.nav-link {
    color: #636a7a;
    font-size: 1.5em;
    text-decoration: none;
    padding-right: 30px;
}

.nav-link:hover {
    color: var(--canary);
}

.btn, .badge {
    background-color: var(--canary)!important;
    color: var(--shuttleGray);
    border: none;
    padding: 15px;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: #a9b9ac;

}

.contactPage {
    background-color: var(--edward-transparent);
    padding: 3rem;
    border-radius: 30px;
}

.form-control {
    background-color: rgba(255, 255, 255, 0.788);
    border: 2px solid var(--canary);
}